{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="mx-auto" style="max-width:700px;">

    <h2 class="text-center mb-4">
        <i class="bi bi-person-plus-fill"></i>
        Register
    </h2>

    <div class="border rounded-4 bg-dark p-4">

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-success w-100 mt-3">
                Register
            </button>

        </form>

    </div>

    <p class="text-center mt-4">
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>

</div>

{% endblock %}